@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 2px solid green;
} */

body {
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #1F2937;
  margin: 0px;
  color: #F9FAF8;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #E5E7EB;
}

footer {
  background-color: #1F2937;
}

button {
  background-color: #3882F6;
}

.hero-section {
  background-color: #1F2937;
}

.hero-section h1 {
  color: #F9FAF8;
}

.hero-section p {
  color: #E5E7EB;
}

.info-section h2 {
  color: #1F2937;
}

.info-figures figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.info-figures figure img {
  min-height: 150px;
  min-width: 100%;
  border-width: 3px;
  border-color: #3882F6;
  border-radius: 5px;
}

.testimony-section {
  background-color: #E5E7EB;
  color: #1F2937;
}

.action-section article {
  background-color: #3882F6;
  color: #E5E7EB
}

#action-section-button { 
  border-width: 3px;
  border-color: whitesmoke;
  border-radius: 5px;
}





/* FONTS */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
